.idea

collections/.idea/
collections/.gradle/
collections/build/
collections/gradle/
collections/gradlew
collections/gradlew.bat
collections/settings.gradle.kts
collections/gradle.properties
collections/build.gradle.kts

data-classes/.idea/
data-classes/.gradle/
data-classes/build/
data-classes/gradle/
data-classes/gradlew
data-classes/gradlew.bat
data-classes/settings.gradle.kts
data-classes/gradle.properties
data-classes/build.gradle.kts

delegation/.idea/
delegation/.gradle/
delegation/build/
delegation/gradle/
delegation/gradlew
delegation/gradlew.bat
delegation/settings.gradle.kts
delegation/gradle.properties
delegation/build.gradle.kts

functions/.idea/
functions/.gradle/
functions/build/
functions/gradle/
functions/gradlew
functions/gradlew.bat
functions/settings.gradle.kts
functions/gradle.properties
functions/build.gradle.kts

hello-world-kotlin/.idea/
hello-world-kotlin/.gradle/
hello-world-kotlin/build/
hello-world-kotlin/gradle/
hello-world-kotlin/gradlew
hello-world-kotlin/gradlew.bat
hello-world-kotlin/settings.gradle.kts
hello-world-kotlin/gradle.properties
hello-world-kotlin/build.gradle.kts

inheritance/.idea/
inheritance/.gradle/
inheritance/build/
inheritance/gradle/
inheritance/gradlew
inheritance/gradlew.bat
inheritance/settings.gradle.kts
inheritance/gradle.properties
inheritance/build.gradle.kts

introduction-to-functions/.idea/
introduction-to-functions/.gradle/
introduction-to-functions/build/
introduction-to-functions/gradle/
introduction-to-functions/gradlew
introduction-to-functions/gradlew.bat
introduction-to-functions/settings.gradle.kts
introduction-to-functions/gradle.properties
introduction-to-functions/build.gradle.kts

null-classes-and-generics/.idea/
null-classes-and-generics/.gradle/
null-classes-and-generics/build/
null-classes-and-generics/gradle/
null-classes-and-generics/gradlew
null-classes-and-generics/gradlew.bat
null-classes-and-generics/settings.gradle.kts
null-classes-and-generics/gradle.properties
null-classes-and-generics/build.gradle.kts

scope-functions/.idea/
scope-functions/.gradle/
scope-functions/build/
scope-functions/gradle/
scope-functions/gradlew
scope-functions/gradlew.bat
scope-functions/settings.gradle.kts
scope-functions/gradle.properties
scope-functions/build.gradle.kts

when-loops-and-ranges/.idea/
when-loops-and-ranges/.gradle/
when-loops-and-ranges/build/
when-loops-and-ranges/gradle/
when-loops-and-ranges/gradlew
when-loops-and-ranges/gradlew.bat
when-loops-and-ranges/settings.gradle.kts
when-loops-and-ranges/gradle.properties
when-loops-and-ranges/build.gradle.kts
